{% extends "base.html"%}
{% block content %}
<div>
  <br>
  <form class="form-inline my-2 my-lg-0">
    <label for="exampleInputPassword1">Search for a recipe: </label>
    <input class="form-control mr-sm-2" type="search" placeholder="E.g: 'Beef' or 'Chicken Wings'">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<hr>
{% for item in values %}
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img class="card-img" src="{{item.recipe_image}}" alt="{{item.recipe_image}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{item.recipe_name}}</h5>
            <p class="card-text">{{item.meal_category}}</p>
            <p class="card-text"><span style="color: #377ba8;">Likes:</span> {{item.likes}}</p>
            <p class="card-text"><small class="text-muted">{{item.added_by}}</small></p>
            <a class="btn btn-primary" href="{{url_for('viewrecipe', value = item._id)}}">View Recipe</a>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
{% endblock %}