{% extends "material/base.html" %}
{% block title%}PorkPlug::.{% endblock %}
{% block content%}
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">PorkPlug</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Find A recipe</a></li>
          <li><a href="#">Pork Restaurants</a></li>
          <li><a href="#">Order Pork</a></li>
          <li><a class="waves-effect waves-light btn">SIGN IN</a></li>
        </ul>
      </div>
    </nav>
  </div>
{% endblock %}
